<h2>All NBA Teams</h2>

<% if @teams.empty? %>
 <p>There are no teams in the league. Call Adam Silver ASAP!</p>
<% else %>
  <ul>
    <% @teams.each do |team| %>
      <li>
        <%= link_to "#{team.city} #{team.name}", team %>
      </li>
    <% end %>
  </ul>
<% end %>