<h2>NBA <%= @seasons.first.season %>-<%= @seasons.first.season + 1 %> Season Stats</h2>

<% if @seasons.empty? %>
 <p>There are no recorded seasons found. Call Adam Silver ASAP! Or Dr. Strange?</p>
<% else %>
  <ul>
    <% @seasons.each do |season| %>
      <li>
        <%= link_to "#{season.season} Stats", season %> for <%= link_to "#{season.player.first_name} #{season.player.last_name}", season.player %>
      </li>
    <% end %>
  </ul>
<% end %>