<h1>Welcome to NBA's Unofficial API</h1>
<h2>About Us:</h2>
<p>This web application uses data from two sources:</p>
<ul>
  <li>NBA Stats API: <a href="https://www.balldontlie.io/#introduction">balldontlie.io</a></li>
  <li>NBA Player API: <a href="https://nba-players.herokuapp.com/">nba-players.herokuapp.com/</a></li>
</ul>