<h2>About Us:</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p>
        This NBA stats app contains player data from all players since the 1979
        season until the current season. (With the exception of player headshots,
        which are from the 2018 season. Sorry.) Click the links above to navigation
        to different stats pages on Players, Teams, Games and Player Season Averages.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        The data is pulled from two sources (which are luckily free. Thank you to
        the creators):
      </p>
      <ul>
        <li>NBA Stats API: <a href="https://www.balldontlie.io/#introduction">balldontlie.io</a></li>
        <li>NBA Player API: <a href="https://nba-players.herokuapp.com/">nba-players.herokuapp.com/</a></li>
      </ul>
    </div>
  </div>
</div>


